.bg-gradient{
  background-image: linear-gradient(180deg, #f9c9eb, #bbddf5) !important;
}

foreignObject{
  display: none;
}
.apexcharts-menu-icon{
  display: none;
}

.order-filter{
    cursor: pointer;
}




/* ---------- product slider correction css --------------- */

.slick-dots {
  position: unset !important;
  margin: 4% 0% 0% !important
}
.slick-dots li {
  position: unset !important;
  display: inline !important; 
  width: 7% !important;
  height: 0 !important;
  padding: 0 !important;
  cursor: pointer;
}
.slick-dots img {
  width: 12% !important; 
  height: auto !important;
}


/*  ----------- side bar actvie css ------------ */

.primary-hover-bg-sidebar-active {
  background-color: #e5f3fb;
  border-radius: 0px 30px 30px 0px;
  color: blue !important;
}

.left-sidebar .scroll-sidebar {
  padding: 0 16px;
  overflow-y: hidden !important;
  height: calc(100% - 70px);
}



  .left-sidebar- {
  left: -270px;
  top: 0;
  border-radius: 0;
  height: 100%;
}

/* -------------------------------------- */

/* Add this CSS to manage the opening/closing of sidebar */
.left-sidebar {
  width: 270px;
  background-color: #fff;
  position: absolute;
  transition: 0.2s ease-in;
  height: calc(100% - 40px);
  z-index: 13;
  box-shadow: 0px 2px 6px rgba(37, 83, 185, 0.1);
  border-radius: 1.125rem;
}



.left-sidebar.open {
  left: 0; /* Show sidebar */
}

@media (max-width: 768px) {
  .left-sidebar.closed {
    left: -270px; /* Hidden sidebar */
  }
  .left-sidebar {
    width: 240px; /* Adjust width for smaller screens */
  }
  .left-sidebar.closed {
    left: -270px; /* Hidden sidebar */
  }
}

/* Login & Registration */
.logo-img img{
  height: 60px;
  width: 60px;
}
